.myOrdersPage {
    width: 100%;
    max-width: 100%;
    padding: 0 6vmax;
    box-sizing: border-box;
    background-color: transparent;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
  }
  
  #myOrdersHeading {
    text-align: center;
    font: 600 1.4vmax "Roboto";
    padding: 0.5vmax;
    box-sizing: border-box;
    color: #000000b5;
    transition: all 0.5s;
  }
  .myOrdersTable {
    background-color: rgba(255, 255, 255, 0.848);
  }
  
  .myOrdersTable div {
    font: 300 1vmax "Roboto";
    color: rgba(0, 0, 0, 0.778);
    border: none;
  }
  
  .myOrdersTable a {
    color: rgba(0, 0, 0, 0.71);
    transition: all 0.5s;
  }
  
  .myOrdersTable a:hover {
    color: tomato;
  }
  
  .MuiDataGrid-columnHeader {
    background-color: tomato;
    padding: 1vmax !important;
  }
  
  .MuiDataGrid-columnHeader div {
    color: rgb(255, 255, 255);
    font: 500 1.1vmax "Roboto" !important;
  }
  
  .MuiDataGrid-iconSeparator {
    display: none !important;
  }

  .greenColor {
    color: green !important;
  }
  .redColor {
    color: red !important;
  }
  
  @media screen and (max-width: 600px) {
    .myOrdersPage {
      padding: 0;
      height: 93vh;
    }
  
    #myOrdersHeading {
      font: 400 2.2vmax "Roboto";
      padding: 4vw;
    }
  
    .myOrdersTable div {
      font: 300 4vw "Roboto";
    }
  
    .MuiDataGrid-columnHeader {
      padding: 20px !important;
    }
  
    .MuiDataGrid-columnHeader div {
      font: 500 5vw "Roboto" !important;
    }
  }